/* 
  ========================================================================
  OPERATION: SURVIVOR APOCALYPS v3.0 (ACTION-DEFENSE UPDATE)
  FILE                  : css/auth.css
  DESC                  : Kotak Form Login & Register Militer
  ========================================================================
*/
.auth-body {
    background: url('../assets/bg-auth.png') no-repeat center center;
    background-size: cover;
}

.auth-container {
    background: rgba(15, 17, 13, 0.9);
    border: 2px solid var(--color-khaki-dark);
    border-radius: 8px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    /* Flexbox untuk memusatkan di dalam App Wrapper */
    margin: auto; 
    text-align: center;
}

.mil-input {
    width: 100%;
    padding: 12px;
    background: #1a1a1a;
    border: 1px solid var(--color-khaki-dark);
    color: var(--color-gold);
    font-family: inherit;
    font-size: 1rem;
    border-radius: 4px;
}

.mil-input:focus {
    outline: none;
    border-color: var(--color-gold);
    box-shadow: 0 0 5px var(--color-gold);
}

.auth-msg {
    min-height: 20px;
    font-size: 0.85rem;
}
